 /* google font */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #2a6e92;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 165px;
}
 /* Header */
 header{
    height: 677px;
    background-color: #0f5175;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
 }

 /* Nab bar */
.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.nav-bar .nav{
    width: 1140px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #1b6b96;
    border-radius: 10px;
    margin-top: 42px;
}
.nav-bar ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.nav-bar ul li{
    list-style: none;
}
.nav-bar ul li a,.login a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    border-bottom: 1px solid transparent;
    transition: all .3s ease;
}
.nav-bar .login{
    width: 123px;
}
.nav-bar .login a{
    background-color: #2d84b3;
    border-radius: 9px;
}
.nav-bar .login .sign-arrow{
    margin-right: 5px;
}
.nav-bar .login a:hover{
    border-color: #0f5175;
    color: #063f5f;
}
.nav-bar ul li a.actiive,.nav-bar ul li a:hover{
    border-color: #0f5175;
    color: #063f5f;
    
}
.nav-bar .menu-btn i{
    color: #FFFFFF;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
input[type="checkbox"]{
    display: none;
}

/* Copa Name */
.Copa-America{
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.Copa-America .Copa-America-name h1{
    width: 485px;
    height: 230px;
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 121px;

}
.Copa-America .Copa-America-name .watch-btn {
    width: 168px;
    height: 44px;
    padding: 10px;
    background-color: #19455d;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
    border-radius: 18px;
    overflow: hidden;
}
.Copa-America .Copa-America-name .watch-btn .arrow-right {
    margin-left: 10px;
}
.Copa-America .Copa-America-banner img{
    width: 556px;
    height: 438px;
    margin-top: 67px;
    margin-left: 102px;

}

.Copa-America:hover .Copa-America-banner img {
    transform: scale(1.2);
    transition: transform 3s ease-in-out .1s ;
}
.Copa-America .Copa-America-name:hover .watch-btn{
    transform: scale(1.1);
    transition: transform 3s ease-in-out .1s ;
    background-image: linear-gradient(45deg, #3dbafd, #0b344a);
}

/* Best Players */
.best-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    width: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.best-players .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #2a6e92;
    color: #FFFFFF;
}
.best-players .player .player-img{
    overflow: hidden;
}
.best-players .player:hover .player-img img{
    transform: scale(1.2);
    transition:transform 3s ease-in-out .2s;
}

.best-players .player .player-img img{
    width: 300px;
    height: 256px;
    margin-top: 15px;
    border-radius: 15px;
    overflow: hidden;
    
}
.best-players .player .player-info{
    width: 300px;
    margin-top:16px;
}
.best-players .player .player-info h1{
    margin: 0;
}
.best-players .player .player-info p{
    margin-top: 10px;
}
    /* video */
.f-video{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #2a4858, transparent);
    height: 500px;
}
.highlight{
    display: flex;
    align-items: center;
}
.f-video .highlight-info{
    width: 466px;
    height: 233px;
    border: 15px solid #2a6e92;
    position: relative;
    padding-right: 22px;
    position: relative;
    left: 33px;
    bottom: 93px;
    border-radius: 15px;
    z-index: 1;
}
.f-video .highlight-video{
    z-index: 2;
}
/* Footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d5c7d;
    border-radius: 10px
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer img{
    width: 483.87px;
    height: 110px;
}
.footer .social-icon{
    width: 170px;
    height: 32px;
    padding-left: 26px;
    margin-top: 20px;
    margin-bottom: 4px;
}
.footer .social-icon .icon{
    padding-right: 14px;
    color: #84acc1;
}
.footer p{
    margin-bottom: 63px;
    color: #84acc1;
}
.youtube-fram{
    width: 500px;
    height: 350px;
}
@media only screen and (max-width:688px) {
.nav-bar .nav{
    width: 100%;
}
.nav-bar ul li a, .login a {
    color: #FFFFFF;
    font-size: 9px;
}
.Copa-America{
    flex-direction: column;
    align-items: center;
}    
.Copa-America .Copa-America-banner img {
    width: 329px;
    height: 259px;
    margin-top: 50px;
    margin-left: 0px;
}
.Copa-America .Copa-America-name h1 {
    width: 278px;
    height: 138px;
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 46px;
}
.best-players{
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}

.f-video .highlight-info{
    height: 400px;
    width: 200px;
}
.highlight-video{
    position: relative;
    bottom: 330px;
}
.f-video .youtube-fram {
    height: 300px;
    width: 300px;
}
.highlight{
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 198px;
}
footer{
    width: 100%;
}
footer img {
    width: 268.87px;
    height: 110px;
}
}

@media only screen and (min-width:689px) and (max-width:992px){
    .nav-bar .nav{
    width: 100%;
    }
    /* .nav-bar ul li a, .login a {
        color: #FFFFFF;
        font-size: 9px;
    } */
    .Copa-America{
        flex-direction: column;
        align-items: center;
    }    
    .Copa-America .Copa-America-banner img {
        margin-top: 50px;
        margin-left: 0px;
    }
    .Copa-America .Copa-America-name h1 {
        margin-top: 46px;
    }
    .best-players{
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 30px;
        grid-row-gap: 27px;
    }
    footer{
        width: 100%;
    }
    .f-video .highlight-info{
        height: 300px;
        width: 300px;
    }
    .highlight-video{
        position: relative;
        bottom: 330px;
        left: 200px;
    }
    .f-video .youtube-fram {
        height: 300px;
        width: 500px;
    }
    .highlight{
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 198px;
        right: 100px;

}
@media only screen and (min-width:993px)and (max-width:1312px){
    header {
        width: 100%;        
    }
    body{
        margin: 5%;
    }
    .nav-bar .nav{
        width: 100%;
        }
    

    .best-players{
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 30px;
        grid-row-gap: 27px;
    }
    footer{
        width: 100%;
    }
    .Copa-America .Copa-America-name h1 {
        width: 220px;
        height: 130px;
        font-size: 28px;    
        font-weight: 700;
        color: #FFFFFF;
        margin-top: 121px;
    }
    .f-video .highlight-info{
        height: 300px;
        width: 300px;
    }
    .highlight-video{
        position: relative;
        bottom: 330px;
        left: 200px;
    }
    .f-video .youtube-fram {
        height: 300px;
        width: 500px;
    }
    .highlight{
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 198px;
        right: 100px;

}
    


